.calc {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    display: flex;
    justify-content: flex-end;

    img {
      width: 316px;
      height: 201px;
      position: relative;
      top: 61px;
      left: 760px;
    }
  }

  .calcForm {
    width: 550px;
    height: 600px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(190, 186, 186, 0.275);
    border: 3px solid #00acb0;
    border-radius: 30px;
    filter: drop-shadow(10px 15px 10px #232323);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: flex;
      justify-content: center;
      color: #8adddf;
      text-shadow: 6px 4px 5px #474748;
      font-family: "Barlow-Regular.ttf", sans-serif;
      font-size: 40px;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .calculateForm {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 30px;

        .selectInput {
          width: 400px;
          height: 30px;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 3px solid #00acb0;
          outline: none;
          font-size: 20px;
          color: white;
          font-family: "Barlow-Regular.ttf", sans-serif;
          padding-left: 10px;
        }

        select option {
          background-color: rgb(98, 97, 97);
          color: #00acb0;
        }

        select option:checked {
          background-color: #00acb0;
        }

        input {
          width: 400px;
          height: 20px;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 3px solid #00acb0;
          outline: none;
          font-size: 20px;
          color: #00acb0;
          font-family: "Barlow-Regular.ttf", sans-serif;
        }
      }

      ::placeholder {
        color: white;
        font-family: "Barlow-Regular.ttf", sans-serif;
        text-shadow: 1px 3px 3px #474748;
        padding-left: 10px;
        padding-bottom: 25px;
      }

      .valider {
        display: flex;
        justify-content: center;
        padding-top: 45px;

        .validButton {
          width: 275px;
          height: 68px;
          border-radius: 40px;
          border: none;
          background: linear-gradient(#00acb0, rgba(13, 78, 79, 0.46));
          color: white;
          font-size: 32px;
          font-family: "Barlow-Regular.ttf", sans-serif;
        }
      }
    }
  }
}
