$green: #00acb0;
$gray: #c0c0c0;
$barlow: "Barlow-Regular.ttf", sans-serif;

.configRAM,
.configStockage {
  background: rgba($gray, 0.6);
  border: 1px solid rgba($green, 0.45);
  border-radius: 18px;
  box-shadow: 2px 4px 6px rgba($onyx, 0.4),
    inset -2px -2px 4px rgba(lighten($gray, 28%), 0.7);
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.maxibox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modalTitle {
  color: #233d8d;
  text-shadow: 3px 2px 2px #474748;
  font-family: $barlow;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

@mixin epic-sides() {
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: -5000px;
    height: 100%;
    width: 15000px;
    z-index: -1;
    @content;
  }
}
.row {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &:first-child {
    padding: 0 30px;
  }

  span {
    position: relative;
    display: inline-block;
    margin: 10px 10px;
  }
}

.gate {
  display: inline-block;
  width: 150px;
  padding: 10px 0 10px 15px;
  font-family: $barlow;
  font-weight: 400;
  color: #233d8d;
  background: #efefef;
  border: 0;
  border-radius: 10px;
  outline: 0;
  text-indent: 85px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    color: #fff;
    width: 50px;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #233d8d;
    transition: all 0.4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 99;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #233d8d;
      transform-origin: left bottom;
      transition: all 0.4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3, 36, 41, 0.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate {
  text-indent: 85px;
}
span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
  text-indent: 0;
}
.gate:focus,
.gate:active {
  color: #233d8d;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;

    &:before {
      transform: rotate(10deg);
    }
  }
}

// .skinny:focus,
// .skinny:active {
//   color: #377d6a;
//   text-indent: 0;
//   background: #fff;

//   &::-webkit-input-placeholder {
//     color: #aaa;
//   }
//   + label {
//     transform: translateX(-100%);

//     &:after {
//       transform: translateX(100%);
//     }
//   }
// }

.register {
  display: flex;
  align-items: center;
  width: 275px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background: #233d8d;
  color: white;
  font-size: 22px;
  font-family: "Barlow-Regular.ttf", sans-serif;
  margin: 25px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.register:hover {
  transform: translatey(2px);
}
.register2 {
  display: flex;
  justify-content: center;
}

input {
  width: 30px;
  background-color: #233d8d;
  color: #fff;
}

li {
  list-style-type: none;
}
.exemple {
  display: flex;

  img {
    height: 40px;
    padding-top: -10px;
    position: relative;
    top: -25px;
  }
}

// .exemple {
//   max-width: 800px;
//   margin: 0;
//   padding: 0px 30px;
//   text-align: center;
//   .exo {
//     display: inline-block;
//     width: 150px;
//     padding: 10px 0 10px 15px;
//     font-family: $barlow;
//     font-weight: 400;
//     font-size: 20px;
//     color: #233d8d;
//     background: #efefef;
//     border: 0;
//     border-radius: 10px;
//     outline: 0;
//     text-indent: 85px;
//     transition: all 0.3s ease-in-out;
//     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
//       rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
//       rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
//   }
//   &::-webkit-input-placeholder {
//     color: #efefef;
//     text-indent: 0;
//     font-weight: 300;
//   }

//   + label {
//     display: inline-block;
//     position: absolute;
//     color: #fff;
//     width: 50px;
//     top: 0;
//     left: 0;
//     padding: 10px 15px;
//     text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
//     background: #233d8d;
//     transition: all 0.4s ease-in-out;
//     border-top-left-radius: 3px;
//     border-bottom-left-radius: 3px;
//     transform-origin: left bottom;
//     z-index: 99;

//     &:before,
//     &:after {
//       content: "";
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       border-radius: 3px;
//       background: #233d8d;
//       transform-origin: left bottom;
//       transition: all 0.4s ease-in-out;
//       pointer-events: none;
//       z-index: -1;
//     }
//     &:before {
//       background: rgba(3, 36, 41, 0.2);
//       z-index: -2;
//       right: 20%;
//     }
//   }
// }
