.mainDivList {
  font-family: "Barlow-Regular.ttf", sans-serif;
}
.divListPhones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}
.divListTable {
  width: 85vw;
  height: auto;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(190, 186, 186, 0.275);
  border: 3px solid #00acb0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    display: flex;
    justify-content: center;
    color: #00acb0;
    font-family: "Barlow-Regular.ttf", sans-serif;
    font-size: 28px;
    padding: 20px;
  }
}
.filterPhonesContainer {
  position: relative;
  display: inline-block;
}

.categoryFilterPhones {
  appearance: none;
  border: 3px solid #00acb0;
  border-radius: 20px;
  background-color: #fff;
  padding: 8px;
  width: 200px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.selectArrow {
  position: relative;
  left: 170px;
  bottom: 40px;
}

.tableList {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 30px;
}

.tableList-header,
.tableList-row {
  display: flex;
  box-sizing: border-box;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableList-row {
  font-weight: bold;
  background-color: white;
  border-radius: 30px;
  padding: 0px 3px;
  margin-bottom: 10px;
}
.tableList-header {
  font-weight: bold;
  background-color: #00acb0;
  border-radius: 30px;
  padding: 0px 3px;
  margin-bottom: 10px;
}
.tableList-row:hover {
  background-color: #9099b7;
  transition: all 0.3s;
}
.headerList-item {
  flex: 1;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border: 2px solid #233d8d;
  margin: 10px;
  border-radius: 20px;
  color: #233d8d;
}
.rowList-item {
  flex: 1;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
}
.listExportButton {
  width: 100px;
  height: 30px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(#3b56a8, #082270);
  color: white;
  font-size: 18px;
  font-family: "Barlow-Regular.ttf", sans-serif;
  margin-bottom: 15px;
}
.listExportButton:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 1px 1px rgb(52, 51, 51);
  transition: all 0.3s;
}
